* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 7vh;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  font-style: italic;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
nav div {
  padding: 10px;
}
nav .logo {
  width: 30vw;
  display: flex;
  justify-content: space-around;
}
nav .links {
  width: 70vw;
  height: 8vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav h1 {
  font-weight: 200;
  font-style: italic;
}
nav a {
  font-size: 1.3rem;
  color: black;
}
nav a:hover {
  text-decoration: underline;
}

main {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  gap: 10vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  background-color: rgb(223, 237, 255);
}
main h1 {
  font-size: 3em;
}
main div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
}
main div i {
  font-size: 2em;
}
main div a {
  background-color: rgb(223, 237, 255);
  padding: 10px;
  font-size: 1.4em;
  color: black;
  border-radius: 10px;
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  transition: all ease 0.5s;
}
main div a:hover {
  transform: scale(1.04);
}

.overmij {
  height: 80vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(223, 237, 255);
}
.overmij .text {
  width: 40vw;
  height: 50vh;
  background: #0082c8;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5vh;
}
.overmij .text h1 {
  font-size: 3em;
  text-decoration: underline;
  color: white;
}
.overmij .text p {
  font-size: 2em;
  color: white;
}
.overmij img {
  height: 52.5vh;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(223, 237, 255);
}

.projecten {
  height: 80vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  background-color: rgb(223, 237, 255);
  display: flex;
  flex-direction: column;
}
.projecten .projectenHeader {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 5vh;
}
.projecten div {
  display: flex;
  justify-content: space-around;
  height: 60vh;
  align-items: center;
}
.projecten div div:nth-of-type(1) {
  background-image: url(https://picsum.photos/200);
  height: 35vh;
  width: 20vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.projecten div div {
  background-color: black;
  height: 35vh;
  width: 20vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}/*# sourceMappingURL=style.css.map */