
// #333F73
// #A9AABC
// #757687
// #712B32
// #A85C60


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    list-style-type:circle;
}

body{
    overflow-x: hidden;
}

nav{
    height: 8vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15vw;
    z-index: 10;
    background-color: #666EA7;
    a{
        color: #ECEEFF;
        transition: all ease 0.3s;
    }
    a:hover{
        text-decoration: underline;
    }
}

body{
    background-color: #333F73;
    display: flex;
    flex-direction: column;
}

.hero{
    width: 60vw;
    height: 80vh;
    background-color: #333F73;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    position: relative;
    left: 15vw;
    
    h1{
        color: #ECEEFF;
        font-size: 3.5em;
    }
    p{
        color: #ECEEFF;
        font-size: 1.3em;
        padding-bottom: 5vh;
    }
    a{
        padding: 0.7em;
        color: #666EA7;
        font-size: 1em;
        border-radius: 10px;
        border: 1px solid #ECEEFF;
        background-color: #ECEEFF;
        transition: all ease 0.3s;
        font-weight: bold;
    }

    a:hover{
        background-color: #666EA7;
        color: #ECEEFF;
    }
}

.overmij{
    height: 92vh;
    width: 100vw;
    background-color: #333F73;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    span{
        text-decoration:underline ;
    }

    h2{
        color: #333F73;
        font-size: 2em;
    }

    li{
        color: #ECEEFF;
        width: 20vw;
        font-size: 1.2em;
    }

    .text{
        width: 30vw;
        height: 40vh;
        background-color: #666EA7;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        border-radius: 10px;
        margin-top: 20vh;
        padding-left: 5vw;
        li{
            padding-bottom: 1vh;
            width: fit-content;
        }
    }

    .skills{
        background-color: #666EA7;
        display: flex;
        flex-direction: column;
        padding: 3vw;
        border-radius: 10px;
    }
}

.projecten{
    width: 70vw;
    height: 92vh;
    background-color: #333F73;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40vh;
    h1{
        color: #ECEEFF;
    }
    a{
        background-color: #ECEEFF;
        color: #666EA7;
        transition: all ease 0.5s;
        border: 1px solid #ECEEFF;
    }
    a:hover{
        background-color: #333F73;
        color: #ECEEFF;

    }

    .project{
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vh;

        img{
            width: 20vw;
        }

        a{
            padding: 1vw;
            border-radius: 10px;
            margin-top: 3vh;
        }
    }

}

.contact{
    width: 15vw;
    height: 10vh;
    position: fixed;
    right: 5vw;
    bottom: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #666EA7;
    font-size: 3.5em;
    padding: 5px;
    border-radius: 10px;

    a{
        display: flex;
        align-items: center;
        color: #ECEEFF;
        transition: all ease 0.3s;
        
    }
    a:hover{
        color: #333F73;
    }
}

