
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

th{
    background-color: rgb(204, 204, 204);
    width: 55px;
    height: 50px;
}

a{
    text-decoration: none;
    display: block;
    color:black;
}

td{
    border: 1px solid;
    background-color: yellow;
}

td:hover{
    cursor:pointer;
    background-color: #00ff00;
}

.h{
    background-color: rgb(255, 123, 0);
}

.h a{
    color: green;
}

.li,.na,.k,.rb{
    background-color: violet;
}

.be,.mg,.ca,.sr{
    background-color: lightskyblue;
}

